/* Indice del codigo:
Seccion 1: Titulo, subtitulo y descripción.
Seccion 2: Solo el formulario */

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

/* Imgen de fondo */
.fondo {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/imagenes/fondoContactos.png);
    /* Cambia la URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

/*----------------------------------------------------------
   Seccion 1 
  -----------------------------------------------------------*/
.seccion1__header {
    /* background-color: green; */
    margin: 1% 3% 1% 3%;
}

.seccion1__title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.seccion1__divh2 {
    /* background-color: rgb(47, 154, 255); */
    margin: 1% 3% 1% 3%;
    border-radius: 40px;

    display: flex;
    justify-content: start;
    align-items: center;
}

.seccion1__h2 {
    margin: 15px 22px 15px 22px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}


.seccion1__descripcion {
    background-color: rgba(18, 11, 11, 0.408);
    box-shadow: -5px 5px 5px black;
    margin: 1% 3% 3% 3%;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion1__p {
    margin: 15px 22px 15px 22px;
    font-size: 18px;
}



/*--------------------------------------------------
Seccion 2 - Formulario 
----------------------------------------------------*/
.seccion2 {
    /* background-color: goldenrod; */

    display: flex;
    justify-content: center;
    align-items: center;
}

/* este es la etiqueta <form> */
.seccion2 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.seccion2 form label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

.seccion2 form input {
    background-color: rgba(66, 67, 66, 0.26);
    border-radius: 15px;
    border: none;
    margin: 5px;
    padding: 2px 5px 2px 5px;

    width: 95%;
}

.seccion2 form textarea {
    background-color: rgba(66, 67, 66, 0.26);
    border-radius: 15px;
    border: none;
    margin: 3px 5px 5px 5px;
    padding: 2px 5px 2px 5px;
    color: antiquewhite;

    width: 95%;
}

/* Boton de enviar */
.seccion2 form button {
    background-color: red;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
    margin-left: 5px;
    border: 1px solid black;

}


/* Media Queryes para:
Telefonos, menor 480px: ✅,
Tablets pequeñas 481px - 768px: ✅,
tablets grandes/ laptos pequeñas 769px - 1024px: ✅,
laptops grandes / Escritorio, mayor 1025px: ✅ 
*/

/* Media para tablets pequeñas */
@media (min-width: 481px) and (max-width: 768px) {
    .seccion1__p{
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .seccion1__p{
        font-size: 14px;
    }

    .seccion2 form label{
        font-size: 12px;
    }

    .seccion2 form button{
        font-size: 12px;
    }


}