body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
}

/* Seccion 1 ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Imagen de porta */
.seccion1-portada {
    background-color: greenyellow;
    background-image: url(/assets/imagenes/nuevaPortada.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

/* Contenedor de el titulo y de la barra de navegación */
.seccion1-barradenavegacion {
    /* background-color: greenyellow; */

    display: flex;
    justify-content: space-between;
}

#titulo {
    margin-left: 4vw;

    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 33px;
}
#pajaritotitulo{
    display: inline;
    width: 1em;
    height: 1em;
}

/* Ul de navegacion */
.seccion1-ul {
    background-color: #a6a6a62b;
    list-style-type: none;
    padding: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-right: 4vw;
    border-radius: 25px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.seccion1-ul a {
    margin: 10px 15px 10px 15px;
    text-decoration: none;
    color: #ffffff;
}

.seccion1-ul a:hover {
    color: grey;
}

/* Boton de Ver trailer */
.seccion1-portada button {
    background-color: red;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 20px;
    border-radius: 35px;
    color: rgb(255, 255, 255);
    border: none;



    margin-left: 7vw;
    margin-bottom: 6vw;
}

.seccion1-portada button:hover {
    color: rgb(170, 169, 169);
}

/* Seccion 2 */
.seccion2-divpadre {
    padding-top: 1.5vh;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.236) 0%, rgba(47, 1, 1, 0.288) 70%, rgb(0, 0, 0) 100%);

}

.seccion2-subtitulo {
    margin-left: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.seccion2-descripcion {
    margin-left: 4vw;
    margin-right: 2vw;
    background-color: rgba(0, 0, 0, 0.24);
    padding: 15px;
    border-radius: 25px;
    padding: 3vh;

    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
}

.seccion2-descargar {
    background-color: red;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 20px;
    border-radius: 35px;
    color: rgb(210, 205, 205);
    border: none;

    margin-left: 5vw;
}

.seccion2-descargar:hover {
    color: rgb(170, 169, 169);
}

/*  Seccion de las imagenes de las cartas de los nuevos pajaros */
.seccion1-contenedor {
    margin-left: 4vw;
    /* background-color: rgba(128, 128, 128, 0.322);  */
    width: fit-content;
    padding: 0;


    display: flex;
    justify-content: start;
    align-items: center;
}

#nuevospersonajes{
    margin-bottom: 0;
}

.seccion1-pajaros {
    background-color: #a6a6a63e;
    padding: 40px 25px 40px 25px;
    margin: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: fit-content;
}

.seccion2-nombredepajaro {
    margin: 0;
    padding-top: 8px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.seccion2-imagenes {
    width: 140px;
    height: 115px;
}

/* Seccion 3 -----------------------------------------------------------------------------------------------------------------*/
.seccion3-ultimasNoticias{
    margin-left: 4vw;
    background-color: #cc00000d;
    padding: 15px;
    border-radius: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#seccion3-subtituloUno{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Seccion 4 ------------------------------------------------------------------------------------------------------------*/
.seccion4-primerdiv{
    /* background-color: rgb(28, 41, 28); */
    margin: 20px 0 0 0;
    padding-left: 4vw;
    padding-right: 4vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seccion4-ul{
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    justify-content: center;
    
}

.seccion4-links{
    text-decoration: none;
    color: white;
    margin: 10px;
}
.seccion4-links:hover{
    color: grey;
}