body {
    background-image: url(../assets/imagenes/portadaSobreNosotros.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
}

/* Seccion 1 */
.header{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 3vw;
}

h1{
    margin: 22px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 37px;
}

.Parrafo {
    display: flex;
    justify-content: center;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    overflow: scroll;
    overflow-x: hidden;

    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 19px;
    line-height:30px;

    background-color: rgba(0, 0, 0, 0.206);
    padding: 25px;
    border-radius: 25px;

    width: 70vw;
    height: 60vh;
}

/* barar de scroll */
p::-webkit-scrollbar{
    width: 5px;
}

p::-webkit-scrollbar-thumb{
    background-color: #cf0404;
    border-radius: 20px;
}

p::-webkit-scrollbar-button{
    background-color: transparent;
}

