/*  Indice del codigo:
    Seccion 1: Titulo, Descripcion */


body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.fondo{
    background-image: url(../assets/imagenes/portadaSobreNosotros.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    position: top;
    position: left;

    width: 100vw;
    height: 100vh;
    z-index: -1;
}

/*----------------------------------------------------------
   Seccion 1 
  -----------------------------------------------------------*/
.seccion1__header{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 3vw;
}

.seccion1__h1{
    margin: 22px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 37px;
}

.seccion1__divParrafo {
    display: flex;
    justify-content: center;
}

.seccion1__p{
    margin-left: 20px;
    margin-right: 20px;
    overflow: scroll;
    overflow-x: hidden;

    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
    line-height:30px;

    background-color: rgba(0, 0, 0, 0.206);
    padding: 25px;
    border-radius: 25px;

    width: 70vw;
    height: 60vh;
}

/* barar de scroll */
p::-webkit-scrollbar{
    width: 5px;
}

p::-webkit-scrollbar-thumb{
    background-color: #cf0404;
    border-radius: 20px;
}

p::-webkit-scrollbar-button{
    background-color: transparent;
}



/* Media Queryes para:
Telefonos, menor 480px: ✅,
Tablets pequeñas 481px - 768px: ✅,
tablets grandes/ laptos pequeñas 769px - 1024px: ✅,
laptops grandes / Escritorio, mayor 1025px: ✅ 
*/

@media  (min-width: 481px) and (max-width: 768px) {
    .seccion1__h1{
        font-size: 30px;
    }

    .seccion1__p{
        font-size: 14px;
        line-height: 25px;
    }
}

@media (max-width: 480px) {
    .seccion1__h1{
        font-size: 25px;
    }

    .seccion1__p{
        font-size: 12px;
        line-height: 20px;
    }
}